<% if current_user.permission == "true" %>
<div class="container">
<h1>Citizens</h1>
<table border="1" style="width:110%">
  <thead class="table">
    <tr>
      <th>CMND</th>
      <th>Tên</th>
      <th>Ngày sinh</th>
      <th>Giới tính</th>
      <th>Quê quán</th>
      <th>Địa chỉ thường trú</th>
      <th>Địa chỉ tạm trú</th>
      <th>Khu vực</th>
      <th>Trình độ</th>
      <th>Công việc</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody id="citizens">
    <%= render @citizens %>
  </tbody>
</table>
</div>

<br>

<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Thêm thông tin người dân</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Thêm thông tin người dân</h2>
      </header>
      <div class="w3-container">
        <%= form_for(@citizen, remote: true) do |f| %>
          <%= f.label :'CMND' %><br>  
          <%= f.text_field :cmnd %><br>
          <%= f.label :'Tên' %><br>
          <%= f.text_field :name %><br>
          <%= f.label :'Ngày sinh' %><br>
          <%= f.date_field :birthday, as: :date, value: f.object.try(:strftime,"%m/%d/%Y") %><br>
          <%= f.label :'Giới tính' %><br>
          <%= f.select :sex, ['Nam', 'Nữ']%>
          <%= f.label :'Quê quán' %><br>
          <%= f.text_field :hometown %><br>
          <%= f.label :'Địa chỉ thướng trú' %><br>
          <%= f.text_field :paddress %><br>
          <%= f.label :'Địa chỉ tạm trú'%><br>
          <%= f.text_field :traddress %><br>
          <%= f.label :'Vùng miền' %><br>
          <%= f.text_field :religion %><br>
          <%= f.label :'Trình độ' %><br>
          <%= f.text_field :edulevel %><br>
          <%= f.label :'Công việc' %><br>
          <%= f.text_field :job %><br>
          <%= f.label :Code %><br>
          <%= f.number_field :code %><br>
          <br>
          <%= f.submit%>
          
        <% end %>
      </div>
      <footer class="w3-container w3-teal">
        <p></p>
      </footer>
    </div>
  </div>


<br>
<% else %>
  <h1> Bạn chưa được cấp quyền khai báo </h1>
<% end %>