	<%= form_with(model: @user, local: true) do |f| %>
		<%= render 'shared/error_messages' %>
		<h3><b> Loại tài khoản: A2 </b> </h3>
		<%= f.hidden_field :tk, :value => 'A2' %>
		<%= f.hidden_field :permission, :value => 'false' %>
		<%= f.label :ID %>
		<%= f.number_field :accountname, min: 01, max:63, step: 1 %>
		<%= f.label :'Mật khẩu' %>
		<%= f.password_field :password %>
		<%= f.label 'Nhập lại mật khẩu', "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		<%= f.label :'Khu vực' %>
		<%= f.text_field :region %>
		<%= f.submit "Tạo tài khoản", class: "btn btn-primary" %>
	<% end %>